{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}

{% endblock title %}

{% block scripts %}
    <script src="{% static 'sales/home.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
    <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add report</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="alert-box"></div>
                <div class="modal-body" id="modal-body">
                    <form id="report-form">
                        {% csrf_token %}
                        {{ report_form|crispy }}
                        <button type="submit" class="btn btn-info mt-2">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if no_data %}
        <div class="alert alert-warning" role="alert">
            {{ no_data }}
        </div>
    {% endif %}

    <h1>Hello world</h1>
    <hr>
    <form action="" method="POST">
        {% csrf_token %}
        {{ search_form|crispy }}
        <button type="submit" class="btn btn-primary mt-3">search</button>
    </form>
    <br>

    {% if not no_data %}
        <p>Sales data frame: </p>
        {{ sales_data_frame_html_code|safe }}
        <br>

        <p>Positions data frame: </p>
        {{ positions_data_frame_html_code|safe }}
        <br>

        <p>Sales and positions data frame: </p>
        {{ sales_and_position_merged_data_frame_html_code|safe }}
        <br>

        <p>data frame grouped by price: </p>
        {{ grouped_by_price_data_frame_html_code|safe }}
        <br>

        <p>Chart: </p>
        <img src="data:image/png;base64, {{ chart|safe }}" id="img">

    {% else %}
        <h3>No data</h3>
    {% endif %}

    <br>

    <button class="btn btn-primary not-visible" id="report-btn"
            data-bs-toggle="modal" data-bs-target="#reportModal">add report</button>

{% endblock content %}

