{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}

{% endblock title %}

{% block content %}
    <h1>Hello world</h1>
    <hr>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary mt-3">search</button>
    </form>
    <br>

    {% if sales_data_frame_html_code %}
        <p>Sales data frame: </p>
        {{ sales_data_frame_html_code|safe }}
        <br>

        <p>Positions data frame: </p>
        {{ positions_data_frame_html_code|safe }}
        <br>

        <p>Sales and positions data frame: </p>
        {{ sales_and_position_merged_data_frame_html_code|safe }}
        <br>

        <p>data frame grouped by price: </p>
        {{ grouped_by_price_data_frame_html_code|safe }}

        <p>Chart: </p>
        <img src="data:image/png;base64, {{ chart|safe }}">

    {% else %}
        <h3>No data</h3>
    {% endif %}

{% endblock content %}

